* {
    font-family: Helvetica, sans-serif;
    Font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo {
    height: 50px;
    padding-left: 10px;
}
.quickLink {
    padding-left: 16px;
    text-decoration: underline;
}